/* BootStrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Reset and Normalize */
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Manrope", sans-serif;
	padding: 0px;
	line-height: 1.6;
	background: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0px;
}

/* LoginPage.css */
.loginContainer {
	font-family: "Manrope", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eff6ee;
}

.loginCard {
	width: 100%;
	max-width: 400px;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.loginCardContent {
	padding: 2rem;
}

.loginTitle {
	font-size: 1.75rem;
	font-weight: bold;
	color: #072635;
	margin-bottom: 1.5rem;
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.formGroup {
	display: flex;
	flex-direction: column;
}

.formLabel {
	color: #072635;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.formInput {
	padding: 0.5rem;
	border: 1px solid #9197ae;
	border-radius: 4px;
	outline: none;
}

.formInput:focus {
	border: 2px solid #c3242f;
}

.formInput::placeholder {
	font-family: "Manrope", sans-serif;
}

.loginButton,
.saveButton {
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	background-color: #f02d3a;
	color: white;
	padding: 0.75rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}

.loginButton:hover,
.saveButton:hover {
	background-color: #c3242f;
}

.mainContainer {
	content: "";
	flex: 8;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Navigation css */

.navigationContainer {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 10px 20px;
	width: 100%;
	height: 72px;
	font-family: "Manrope", serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0px;
	color: #072635;
	opacity: 1;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.164);
	position: sticky;
	z-index: 1000;
	top: 0;
}

.navigationContainer .logo {
	display: flex;
	align-items: center;
}

.navigationContainer .logo img {
	width: 58px;
	height: 48px;
}

.logo span {
	font-size: 1.7rem;
}

.navigationContainer .options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navigationContainer .options ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.options li {
	display: inline-block;
}

.options li a {
	list-style: none;
	margin: 0px 30px;
	text-decoration: none;
	font-size: 18px;
	text-decoration: none;
	color: #072635;
	padding: 0.5rem 1rem;
	transition: all 0.3s ease;
	border-radius: 0.3rem;
}

.options a:hover {
	border-bottom: 2px solid #f02d3a;
	color: #f02d3a;
}

.logOutButton {
	border: none;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
	width: auto;
	height: 34px;
	padding: 8px 20px 8px 20px;
	gap: 10px;
	background: #f02d3a;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.logOutButton:hover {
	background-color: #cf2531;
}

/* Active link styling (if class-based or dynamically applied) */
.options a.active {
	border-bottom: 2px solid #f02d3a;
	color: #f02d3a;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.profile i {
	font-size: 20px;
	margin: 0px 0px 3px 0px;
}

.profile .details p {
	margin: 0px 0px 3px 0px;
	font-size: 18px;
}

.profile hr {
	width: 1px;
	height: 44px;
	background-color: rgba(128, 128, 128, 0.885);
	border: none;
}

/* Home Page Styles */
.videoContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
	gap: 10px;
	padding: 0px 60px;
	margin: 40px 20px 0px 50px;
	position: relative;
	top: 30px;
}

/* Container for the image and overlay */
/* Parent container for the grid */
.videoGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}

/* Individual video card */
.videoCard {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 0.2s;
}

/* Placeholder for the video thumbnail */
.videoThumbnail {
	background: #d9d9d9;
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.videoThumbnail:hover {
	box-shadow: 0 5px 10px 0 rgba(58, 58, 58, 0.5);
}

.videoTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	margin: 5px 10px 0px 0px;
}

.videoTitle p {
	font-size: 1.2rem;
}

.videoDetails {
	font-size: 0.9rem;
	color: #6c757d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 10px 8px 0px;
}

.videoDetails span {
	display: flex;
	align-items: center;
}

.videoContent .rating {
	display: flex;
	gap: 5px;
	align-items: center;
}

.videoContent .ratingCount {
	font-weight: 600;
}

.videoContent .bi-star-fill {
	color: #ffc107;
}

.creatorName {
	font-size: 1.02rem;
	font-weight: bold;
	margin-top: 4px;
}

.videoDate {
	color: #999;
	font-size: 0.8rem;
}

/* Responsive styling */
@media (max-width: 768px) {
	.videoGrid {
		grid-template-columns: 1fr;
	}
}

.videoTitle i {
	color: #072635;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	z-index: 10;
	opacity: 1;
	margin-top: 10px;
	margin-bottom: 5px;
}

.videoContainer.noVideos {
	display: block;
	padding: 0;
	margin: 0;
}

.noVideo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	color: rgb(185, 185, 185);
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
	.videoContainer {
		grid-template-columns: 1fr;
	}
}

/* Upload Page Styles */

.uploadWrapper {
	background-color: #fff;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 940px;
	height: 820px;
	margin: 30px auto;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.122);
}

.uploadHeading {
	font-weight: 600;
	text-align: center;
	color: #072635;
	padding-top: 30px;
	margin-top: 0px;
	margin-bottom: 30px;
}

.inputContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.uploadInputBox {
	flex: 1;
}

.uploadInputBox input {
	font-family: "Manrope", sans-serif;
	width: 400px;
	height: 38px;
	padding: 10px;
	border: 1px solid #aaa8a8;
	border-radius: 5px;
	font-size: 14px;
	color: #072635;
	border-color: #072635;
	margin-bottom: 5px;
	transition: all 0.3s ease;
}

.uploadInputBox input:focus {
	outline: none;
	border: 2px solid #f02d3a;
}

.uploadName {
	font-size: 1rem;
	margin: 5px 5px;
	font-weight: 600;
	color: #072635;
}

.uploadInputBox .videoTitle,
.uploadInputBox .category {
	font-family: "Manrope", sans-serif;
	width: 400px;
	height: 38px;
	padding: 5px 10px;
	border: 1px solid #aaa8a8;
	border-radius: 5px;
	font-size: 14px;
	color: #072635;
	border-color: #072635;
	margin-bottom: 5px;
}

.category:focus {
	border: 2px solid #f02d3a;
	outline: none;
}

.category option {
	font-size: 16px;
	padding: 10px;
	background-color: #fff;
	color: #333;
}

.category option:hover {
	background-color: #f1f1f1;
}

.uploadInputBox .description {
	font-family: "Manrope", sans-serif;
	width: 820px;
	height: 100px;
	padding: 10px;
	border: 1px solid #aaa8a8;
	background-color: #f2f2f2;
	border-radius: 5px;
	font-size: 14px;
	color: #072635;
	border-color: #072635;
	margin-bottom: 5px;
}

.uploadInputBox .description:focus {
	outline: none;
	border: 2px solid #f02d3a;
}

.uploadInputBox .dragArea {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	max-width: 500px;
	height: 250px;
	border: 2px dashed #9197ae;
	border-radius: 4px;
	background-color: #eff6ee;
	padding: 20px;
	box-sizing: border-box;
}

.dragArea {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.uploadIcon {
	font-size: 80px;
	font-weight: 200;
	color: #9197ae;
}

.dragArea p {
	color: #9197ae;
	text-align: center;
	font-weight: 500;
	margin: 0px;
	line-height: 20px;
}

.dragArea span {
	font-weight: 900;
	color: #f02d3a;
	border-bottom: 1px solid #9197ae;
}

.dragArea .option {
	color: #9197ae;
	text-align: center;
	font-weight: 200;
}

/* Is public toggle */
.isPublicVideo {
	margin: 10px 0px;
	font-size: 0.8rem;
	font-weight: 700;
	color: #072635;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 21px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #f02d3a;
}

input:focus + .slider {
	box-shadow: 0 0 1px #f02d3a;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*Upload button*/
.fileInput {
	display: none;
	color: #9197ae;
}

.fileInputLabel {
	display: inline-block;
	width: Fixed (105px) px;
	height: 34px;
	top: 715px;
	left: 866px;
	padding: 8px 20px 8px 20px;
	gap: 10px;
	background: #f49069;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

.fileInputLabel:hover {
	background-color: #f49069;
}

.selectedFile {
	color: #072635;
	font-size: 13px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.submitButton {
	border: none;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
	margin-top: 30px;
	width: 155px;
	height: 34px;
	padding: 8px 20px 8px 20px;
	gap: 10px;
	background: #9197ae;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.submitButton:hover {
	background-color: #f02d3a;
}

.errorMessage {
	font-size: 12px;
	font-weight: 500;
	color: #af2020;
	margin-top: 0px;
	margin-bottom: 5px;
}

.successMessage {
	font-size: 12px;
	font-weight: 500;
	color: #708240;
}

/* Individual Video Details */
.mediaWrapper {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.videoDetailsContainer {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	position: relative;
	left: 25vh;
	top: 8vh;
}

@media (min-width: 567px) and (max-width: 1300px) {
	.videoDetailsContainer {
		display: flex;
		flex-direction: column;
		max-width: 640px;
		position: relative;
		left: 6vh;
		top: 8vh;
	}
}

@media (min-width: 1301px) and (max-width: 1440px) {
	.videoDetailsContainer {
		display: flex;
		flex-direction: column;
		max-width: 760px;
		position: relative;
		left: 6vh;
		top: 8vh;
	}
}

.closeButton {
	position: relative;
	max-width: 100px;
	top: 20px;
	left: 96vw;
	font-size: 24px;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 24px;
}

/*Video styles*/
/* Container for the video to be played */
.videoDetailsCard {
	position: relative;
	width: 100%;
	max-width: 870px;
	aspect-ratio: 16 / 9;
}

/* Thumbnail itself */
.thumbnailWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

img,
video {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	object-fit: cover;
}

.playButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	font-size: 64px;
	color: white;
	cursor: pointer;
	opacity: 0.8;
}

.playButton:hover {
	opacity: 1;
}

.details h2 {
	margin: 0;
	font-size: 20px;
	font-weight: 900;
	word-wrap: break-word;
	font-family: "Manrope", sans-serif;
	color: #072635;
}

.details p {
	font-family: "Manrope", sans-serif;
	color: #072635;
	font-size: 15px;
	font-weight: 700;
}

.userDetails .userProfile {
	display: flex;
	gap: 5px;
}

.details1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iconsContainer {
	display: flex;
	gap: 10px;
	align-items: center;
}

.userProfile h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 800;
	word-wrap: break-word;
	font-family: "Manrope", sans-serif;
	color: #072635;
}

.description {
	height: auto;
	margin: 10px 0px;
}

/* Edit icon styles */
.bi.bi-pencil-fill {
	color: #202124;
	font-size: 20px;
	cursor: pointer;
	margin-left: 10px;
	flex-shrink: 0;
	position: relative;
}

/* Individual icon styling */
.bi.bi-trash3 {
	border: none;
	font-size: 24px;
	color: #af2020;
	cursor: pointer;
}

.actionsContainer {
	display: flex;
	align-items: center;
}

.bi.bi-chat-right {
	color: rgb(15, 60, 76);
	font-size: 15px;
	cursor: pointer;
	margin: 0px 10px;
}

.errorMessage {
	color: #af2020;
	font-size: 14px;
	margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
	.mediaWrapper {
		max-width: 100%;
	}

	.playButton {
		font-size: 48px;
	}
}

/*Comments Section styles*/
.reviewsContainer {
	padding: 1rem;
	max-width: 650px;
	margin: 1rem;
	position: relative;
	top: 6vh;
}

h3 {
	margin: 0.53rem 0;
}

.addReview {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	border-color: 2px solid #f02d3a;
}

textarea {
	resize: none;
	font-family: "Manrope", sans-serif;
	background-color: #f2f2f2;
	margin-bottom: 0.5rem;
	border: none;
	border-bottom: 1.5px solid rgba(160, 159, 159, 0.389);
	border-radius: 4px;
	transition: border-color 0.3s ease;
}

textarea::placeholder {
	font-family: "Manrope", sans-serif;
}

.rating {
	display: flex;
	gap: 5px;
	margin: 0.5rem 0;
	cursor: pointer;
}

.star {
	font-size: 1rem;
	color: lightgray;
}

.star.filled {
	color: #ffc107;
}

.postReview {
	align-self: flex-end;
	background-color: #f02d3a;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	cursor: pointer;
}

.postReview:hover {
	background-color: #cf2531;
}

.reviewList {
	overflow-y: scroll;
}

.reviewItem {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.reviewContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editIcons {
	display: flex;
	gap: 5px;
}

.savesButton,
.cancel {
	font-size: 16px;
	border: none;
	background-color: #f9f9f9;
}

.save {
	color: green;
	cursor: pointer;
}

.cancel {
	color: red;
	cursor: pointer;
}

.reviewText {
	font-size: 16px;
	margin-bottom: 5px;
}

.reviewDate {
	font-size: 12px;
	color: gray;
}

.reviewList,
.repliesList {
	list-style: none;
	padding: 0;
}

.reviewText,
.replyText {
	font-size: 15px;
	font-weight: 500;
}

.reviewList li {
	display: flex;
	justify-content: space-between;
	background: #f9f9f9;
	padding: 1rem;
	margin: 0.5rem 0;
	border-radius: 8px;
}

small {
	display: block;
	color: #555;
	margin-top: 0.3rem;
	font-size: 12px;
}

.userRating {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
}

.userRating .bi.bi-star-fill {
	color: #ffc107;
}

.rate {
	display: flex;
	gap: 5px;
	align-items: center;
}

.viewReplies {
	font-weight: 800;
	font-size: 12px;
	color: #f02d3a;
	cursor: pointer;
}

.repliesList {
	list-style: none;
	padding-left: 20px;
	margin-top: 5px;
}

.repliesList li {
	background-color: #f9f9f9;
	padding: 8px;
	border-radius: 8px;
	margin-top: 5px;
}

.replySection textarea {
	font-family: "Manrope", sans-serif;
	width: 100%;
	height: 60px;
	padding: 8px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.replySection button {
	font-family: "Manrope", sans-serif;
	margin-top: 5px;
	background-color: #f02d3a;
	color: white;
	border: none;
	padding: 8px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.replySection button:hover {
	background-color: #c3242f;
}

/* My Posts Styles */
.title {
	width: Hug (324px) px;
	height: Hug (68px) px;
	top: 105px;
	left: 303px;
	padding: 10px 0px 0px 0px;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 90px;
	font-weight: 600;
	color: rgb(15, 60, 76);
}

.bi.bi-chat-right {
	color: rgb(15, 60, 76);
	position: absolute;
	left: 660px;
	top: 865px;
	font-size: 20px;
	cursor: pointer;
}

.message {
	display: flex;
	justify-content: center;
}

/* .noPosts {
  position: absolute;
  top: 50vh;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(185, 185, 185);
} */

.bi.bi-images {
	position: absolute;
	top: 330px;
	font-size: 70px;
	color: rgb(185, 185, 185);
}

.bi.bi-trash3 {
	color: red;
	font-size: 15px;
}

.bi.bi-pencil-fill {
	color: #072635;
	font-size: 15px;
}

/* Modal styles */

.modalContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
}

.modal {
	position: relative;
	top: 0px;
	border-radius: 5px;
	padding: 2rem;
	background: white;
	width: 30rem;
}

.modal .saveButton {
	display: block;
	margin: auto;
	border: none;
	font-family: "Manrope", sans-serif;
	color: white;
	border-radius: 4px;
	box-shadow: 0px 2px 8px #aaa8a8;
	cursor: pointer;
}

.title {
	padding: 10px 0px 0px 0px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: 600;
	color: rgb(15, 60, 76);
}

.formGroup {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.formGroup input,
.formGroup textarea {
	font-family: "Manrope", sans-serif;
	height: auto;
	padding: 10px;
	border: 1px solid #aaa8a8;
	background-color: #f2f2f2;
	border-radius: 5px;
	font-size: 14px;
	color: #072635;
	border-color: #072635;
	margin-bottom: 5px;
}

.formGroup label {
	margin-bottom: 0.2rem;
	font-size: 12px;
	font-weight: 600;
	color: rgb(15, 60, 76);
}

.closeModalButton {
	position: absolute;
	top: 10px;
	right: 5px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.errorMessage {
	font-size: 12px;
	font-weight: 500;
	color: red;
	margin-top: 6px;
}
